/** Globales **/

body {
    background-color: $bg-primary;
    color: $primary;
    font-family: $primary-font;
    font-size: $font-size-base;
    line-height: 2;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 2rem;
}

p {
    font-family: $secondary-font;
}
