/*Screen sizes*/

$screen-small: "576px";
$screen-medium: "768px";
$screen-large: "992px";
$screen-xlarge: "1200px";

/* Fonts */

$primary-font: "Playfair Display", serif;
$secondary-font: "Open Sans", sans-serif;

/* Font sizes */

$font-size-base: 1.6rem !default;

/* Background color */

$bg-primary: #e1dad3;
$bg-secondary: #380c36;

/* Colors */

$primary: #380c36;
