/** Footer **/

footer {
  margin: 0;
  p {
    color: $tertiary;
  }
  background-color: $bg-secondary;
}
.footer-image {
  width: 24rem;
  height: 24rem;
}

.footer-title {
  font-size: 40px;
  font-weight: bold;
  margin-top: 8rem;
  color: $secondary;
}

.footer-icons {
  margin: 4rem 0 4rem 0;
}

.footer-icon {
  margin: 0 1.5rem;
}
