/** Header **/

.contenedor {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.navbar {
  width: 100%;
  list-style-type: none;
  text-transform: uppercase;
  background-color: $bg-primary;
}

.navbar-list {
  color: $primary;
  text-decoration: none !important;
  font-size: 2.188rem;
  margin: 1em;
}

.navbar-toggler {
  margin-top: 10%;
  font-size: x-large;
}

.container-icons {
  display: flex;
  @media only screen and (max-width: 600px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.navbar-icon {
  width: 4rem;
  height: 4rem;
  margin: 0 0.5rem;
  @media only screen and (max-width: 600px) {
    width: 2em;
    height: auto;
  }
}

.logo {
  width: 25rem;
  height: 16rem;
  @media only screen and (max-width: 600px) {
    width: 15rem;
    margin-top: 1em;
    height: auto;
  }
}
