/** Header **/

.contenedor {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.navbar {
  width: 100%;
  //margin: 0em 19em 0em 6em;
  list-style-type: none;
  text-transform: uppercase;
  background-color: $bg-primary;
}

.navbar-list {
  color: $primary;
  text-decoration: none !important;
  font-size: 2.188rem;
  margin: 1em;
}

.navbar-toggler {
  //margin-top: 10%;
  font-size: x-large;
}

.container-icons {
  display: flex;
  @media only screen and (max-width: 600px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.navbar-icon {
  width: 4rem;
  height: 4rem;
  margin: 0 0.5rem;
  @media only screen and (max-width: 600px) {
    width: 2em;
    height: auto;
  }
}

.logo {
  width: 15rem;
  //height: 16rem;
  @media only screen and (max-width: 600px) {
    width: 15rem;
    margin-top: 1em;
    height: auto;
  }
}

#navbars {
  @media only screen and (max-width: 992px) {
  
    height: 100vmax !important;
    position: absolute;
    top: 15%;
    width: 100%;
    left: 0%;
    top: 0;
    background-color:$bg-menu;
    z-index: 9;
  }
}

.navbar-nav {
  @media only screen and (max-width: 992px) {
    background:$bg-secondary;
    border-radius: 1em;
    height: 40vh;
    margin-top: 5%;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    z-index: 69;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    .navbar-list {
      color: $secondary;
      z-index: 10;
    }
    div {
      width: 100%;
      text-align: right;
    }
    div > i {
      color: $secondary;
      text-align: right;
      margin-right: 10%;
      margin-top: 2%;
    }
    #cerrar:hover {
      color: white;
    }
  }
}
