/** Comprar **/

/* Quéres comprar? */
.buy-title {
  margin: 8rem 0 8rem 0;
}

.buy-image {
  width: 18rem;
  height: 18rem;
}

.number {
  font-size: 10rem;
  font-weight: bold;
  font-family: $primary-font;
  position: absolute;
  bottom: 28rem;
  left: 5.5rem;
}

.buy-paragraph {
  padding: 0 7rem;
}

.payment {
  display: flex;
  justify-content: center;
  align-items: center;
}

.payment-icon {
  width: 1.44rem;
  height: 1.44rem;
  margin-right: 1rem;
}

.payment-method {
  list-style-type: none;
}

/* Envíos */

.container-delivery {
  margin-top: 8rem;
}

.map-image {
  width: 35rem;
  height: 35rem;
}

.info-delivery {
  background-image: url(/img/rectangulo1.png);
  height: 28rem;
  color: white;
  text-align: center;
  padding: 3rem;
}

.icon-delivery1 {
  width: 5.4rem;
  height: 2.9rem;
}
.icon-delivery2 {
  width: 3rem;
  height: 4.3rem;
}

.text-delivery {
  text-decoration-line: underline;
}

/* Colores disponibles */

.color-title {
  margin: 8rem 0 5rem 0;
}

.color-type {
  width: 14rem;
  height: 14rem;
}
