/** Comprar **/

/* Quéres comprar? */
.buy-title {
  margin: 20rem 0 -3rem 0;

  @media only screen and (max-width: 768px) {
    margin: 8rem 0 6rem 0;
    font-size: x-large;
  }
}

.buy-image {
  width: 27rem;
  //height: 27rem;

  @media only screen and (max-width: 768px) {
    width: 13rem;
    height: 13rem;
  }
}

.number {
  font-size: 10rem;
  font-weight: bold;
  font-family: $primary-font;
}

.buy-paragraph {
  padding: 0 7rem;
  text-align: left;
  margin-left: 1em;
  @media only screen and (max-width: 600px) {
    padding: 0;
    font-size: medium;
  }

  @media only screen and (min-width: 768px) {
    padding: 0;
  }
}

.payment {
  display: flex;
  justify-content: left;
  align-items: center;
}

.payment-icon {
  width: 1.44rem;
  height: 1.44rem;
  margin-right: 1rem;
}

.payment-method {
  list-style-type: none;
}

/* Envíos */

.container-delivery {
  margin-top: 8rem;
  justify-content: space-between;
  margin-left: auto;

  @media only screen and (max-width: 600px) {
    display: flex;
    flex-direction: column-reverse;
  }
  @media only screen and (max-width: 768px) and (orientation: landscape) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.map-image {
  width: 45rem !important;
  margin-bottom: 7em;
}

.info-delivery {
  background-color: $bg-secondary;
  color: white;
  text-align: center;
  padding: 3rem;
  height: 38rem;

  @media only screen and (max-width: 600px) {
    height: auto;
    max-width: 95%;
    margin-bottom: 5em;
  }
  @media only screen and (min-width: 600px) and (orientation: landscape) {
    margin-bottom: 5em;
  }
}

.icon-delivery1 {
  width: 6.4rem;
}
.icon-delivery2 {
  width: 50%;

  color: $bg-rectangulo;
}

.text-delivery {
  text-decoration-line: underline;
}

.elemento-delivery {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 17%;
  align-items: center;
}

.texto-pedido {
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 50%;
  @media screen and (min-width: 768px) and (orientation: portrait) {
    font-size: medium;
  }
  @media screen and (min-width: 768px) and (orientation: landscape) {
    width: 50%;
  }
}
.mitad {
  @media screen and (max-width: 600px), (orientation: landscape) {
    width: 50%;
  }

  //font-size: smaller;
}
.texto-moto {
  text-align: left;
}
/* Colores disponibles */

.color-title {
  margin: 8rem 0 8rem 0;
  font-size: x-large;
}

.color-type {
  width: 14rem;
  height: 14rem;
}

.pasoCompra {
  display: flex;
  flex-direction: row;
  align-content: center;
  margin-top: 2em;

  .number {
    font-size: 4rem;
    min-width: 11%;
    align-self: start;
  }
  p {
    align-self: center;

    @media only screen and (min-width: 992px) {
      width: 30rem;
    }
  }

  @media only screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;

    .number {
      font-size: 8rem;
      min-width: 11%;
      text-align: left;
    }
    img {
      align-self: center;
    }
  }
  @media only screen and (max-width: 768px) {
    p {
      align-self: center;
      width: auto;
    }
  }
  div {
    margin-left: auto;
    margin-right: auto;
  }
}

.mt-5 {
  @media only screen and (max-width: 600px) {
    margin-top: 0 !important;
  }
}

#comprar {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
