/** Nosotras **/

.photo {
  width: 40rem;
  height: 52rem;

  @media only screen and (max-width: 768px) {
    width: auto;
    height: auto;
  }
}

.about-us {
  margin: 8rem 0 0rem 0;
  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: 600px) {
    margin: 8rem 0 0rem 0;
  }
}

#nosotras {
  p {
    color: $tertiary;
  }

  background: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 30%,
    $bg-secondary 30%,
    $bg-secondary 100%
  );
  margin-top: 18rem;
  h1 {
    font-size: x-large;
  }
}

.tituloFoto {
  display: flex;
  flex-direction: column-reverse;
}

.parrafo {
  @media only screen and (min-width: 600px) {
    margin-top: inherit;
  }
  @media only screen and (min-width: 768px) {
    margin-top: 10em;
  }
}
.mb-5 {
  justify-content: center;
}
.nosotrasTitle {
  @media only screen and (min-width: 600px) {
    margin-top: inherit;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    margin-top: 10rem;
  }
}
