/** Nosotras **/

.photo {
  width: 40rem;
  height: 52rem;

  @media only screen and (max-width: 600px){

    width: auto;
    height: auto;
  }
}

.about-us {
  margin: 8rem 0 0rem 0;
  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: 600px) {
    margin: 8rem 0 0rem 0;
  }
}

#nosotras {
  p {
    color: $tertiary;
  }

  @media only screen and (max-width: 600px) {
    margin-top: -146vh;
    
  }
  margin-top: -111vh;
}

.fondoSecundario {
  background-color: $bg-secondary;
  height: 75vh;
  margin-top: 20%;

  @media only screen and (max-width: 600px) {
    height: 85vh;
    margin-top: 70%;
  }
}

.tituloFoto{

  display: flex;
flex-direction: column-reverse;
}