/** Nosotras **/

.photo {
  width: 40rem;
  height: 52rem;
}

.about-us {
  margin: 8rem 0 0rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nosotras {
  p {
    color: $tertiary;
  }

  margin-top: -109vh;
}

.fondoSecundario {
  background-color: $bg-secondary;
  height: 80vh;
  margin-top: 11%;
}
