/** Que Hacemos **/

.products {
  margin-top: 14rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-size: 6rem;

    @media only screen and (max-width: 768px) {
      font-size: 2rem;
    }

    @media only screen and (min-width: 769px) {
      font-size: 4rem;
    }
  }

  p {
    font-size: 2.5rem;
    @media only screen and (max-width: 768px) {
      font-size: inherit;
    }
  }
}

.product-image {
  width: 50rem;

  @media only screen and (max-width: 768px) {
    width: 25rem;
  }
}

.product-paragraph {
  font-size: 5rem !important;
  margin: 2rem 0;
  font-family: $primary-font;

  @media only screen and (max-width: 768px) {
    font-size: 2rem !important;
  }

  @media only screen and (min-width: 769px) {
    font-size: 3rem !important;
  }
}
