/** Que Hacemos **/

.main-image {
    width: 35rem;
    height: 35rem;
}

.first-section {
    margin-top: 14rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first-paragraph {
    font-weight: bold;
    font-size: 2rem;
    margin: 2rem 0;
}
